* {
  box-sizing: border-box;
  font: bold;
  font: bold;
  background-color: gainsboro;
}
*::selection {
  background-color: black;
  color: aliceblue;
}
main {
  max-width: 35ch;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 10px;
}
aside {
  position: fixed;
  right: 0;
  top: 0;
  padding: 1rem;
  font-family: "Lobster", sans-serif;
  font-size: 200%;
  font-weight: 400;
  font-style: normal;
  background-color: orangered;
  color: black;
}
header {
  text-align: center;
}
h1,
h2,
h3 {
  padding: 50px 10px;
  font-family: "Lobster", sans-serif;
  font-size: 300%;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 500%;
}
h2 {
  display: fixed;
  top: 100px;
}
.Pumuckl {
  color: orangered;
}
header > p::after {
  content: " 🧚‍♂️";
  font-size: 300%;
}
body {
  padding-left: 60px;
}

.nav-link {
  padding: 5px 10px;
  color: slategray;
  display: inline-block;
  border: 2px solid black;
}

.nav-link:hover {
  color: black;
  background-color: lightgray;
}

.nav-link:active {
  color: white;
  background-color: grey;
}

main > * + * {
  margin-top: 48px;
}

main > * {
  border-top: 2px black;
}

main > *:first-child {
  border-top: none;
}

.Unterschrift {
  text-align: center;
}
